banal==1.0.6
python-magic==0.4.27
normality==2.5.0
pantomime==0.6.1
followthemoney==3.5.9
followthemoney-store[postgresql]==3.1.0
languagecodes==1.1.1
tesserocr==2.7.1
servicelayer[google,amazon]==1.23.2


# File format support
Pillow==10.1.0
lxml==5.0.0
olefile==0.47
odfpy==1.4.1
pymupdf==1.21.1


# service deps
fastapi==0.115.8
uvicorn==0.34.0
SQLAlchemy==2.0.38
psycopg2-binary==2.9.10
SQLAlchemy==2.0.38
pydantic==2.10.6
python-multipart==0.0.20
